<div>
	<ul class="topbarNavbar">
		<li>
			<img src="https://a.slack-edge.com/bv1-9/slack_logo-ebd02d1.svg", class="Logo" />
		</li>
		<li>
			search
		</li>
		<li>
			<%=image_tag current_user.avatar, class:"image"%>
		</li>
	</ul>
</div>