<%@invitation.messages.each do |msg|%>
	<div class="topMessages" style="margin-top: 10px; margin-bottom: 10px; overflow-y:initial;" >
		<div class="innerMessage">
			<div class="innerMessageInfo" style="margin-right: 13px;">
				<%=image_tag msg.user.avatar, class:"image", style:"border-radius: 5px; width: 30px"%>
			</div>
			<div class="innerMessageContent">

				<strong><%=msg.user.username%></strong>

				<span style = "font-size: 11px; font-weight: 400; color: grey; letter-spacing: 1.5px;">
					<%= msg.created_at.strftime("%I:%M%p")%>
				</span>

				<div class="innerMessageMessage">
					<%=msg.msg%>
				</div>
			</div>
		</div>
	</div>
<%end%>
<style>
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
</style>